* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arimo', sans-serif;
}

.filtering {
  background-color: #28a745;
  display: flex;
  justify-content: center;
  padding: 2rem;
}

select {
  background-color: white;
  min-width: 15rem;
  padding: 1rem;
  border-radius: 4px;
}

.gallery {
  display: flex;
  max-width: 83.33333%;
  margin: 1rem auto 0 auto;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  border: 1px solid black;
  width: calc(33.33333% - .66666rem);
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  border-radius: 4px;
}

.card img {
  max-width: 50%;
  height: auto;
  object-fit: cover;
}

.card .info {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 50%;
}

.card .info {
  word-break: break-word;
}

.card .badges {
  display: flex;
  margin: 1rem 0;
  flex-wrap: wrap;
}

.card .badges p {
  margin-right: 1rem;
  text-transform: capitalize;
  font-size: .75rem;
}

.card .summary {
  margin-bottom: 1rem;
}

.card a {
  margin-top: auto;
  background-color: #007bff;
  display: inline-block;
  text-align: center;
  padding: 1rem;
  text-decoration: none;
  color: white;
  border-radius: 4px;
}

.hide {
  display: none;
}

.show-all {
  display: flex !important;
}

select {
  text-transform: capitalize;
}

@media screen and (max-width: 576px) {
  .card {
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .card {
    width: calc(50% - .5rem);
  }
}